@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
form {
  border: 1px solid #F19953;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: #F19953;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  min-height: 6vh;
}
.navbar a {
  text-decoration: none;
  color: #56351E;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 1.2em;
}
.navbar a:hover {
  transition: 200ms;
  color: #2660A4;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pets {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  margin: 1em;
}
.banner img {
  width: 80vw;
}
.singlePet {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  background-color: #F19953;
  cursor: pointer;
}
.singlePet .petName {
  padding: 0.25em;
  font-size: 1.2em;
  font-weight: 600;
}
.singlePet:hover {
  transform: translateY(-5px);
  box-shadow: #26394d 0px 20px 30px -10px;
  transition: 200ms;
}
.singlePet img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDF7F6;
  color: #56351E;
}
button {
  background: none;
  color: inherit;
  border: 1px solid #56351E;
  padding: 0.25em 0.75em;
  border-radius: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: 200ms;
}
button:hover {
  background-color: #2660A4;
  color: #EDF7F6;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
