@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}

form {
  border: 4px solid #F19953;
  padding: 2em 4em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  background-color: #EDF7F6;
  color: #56351E;
}

.form-title {
  font-size: 2em;
  font-weight: 600;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item>* {
  align-self: flex-start;
}

.form-label {
  font-weight: 600;
  padding: 10px 0;
}

.form-input {
  -webkit-appearance: none;
  width: 100%;
  max-width: 425px;
  min-height: calc(0.9em + (0.8em * 2) + 0.6em);
  padding: 0.8em;
  font-size: 0.9em;
  outline: none;
  border: 1px solid #F19953;
  border-radius: 4px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.form-input:focus {
  background: #ffffff;
}

.form-input::placeholder {
  color: #56351E;
}

.form-input-error {
  color: #d50000;
  background: #fff8f8;
  border-color: #d50000;
}

.form-input-error::placeholder {
  color: #ffbfbf;
}

.form-error {
  padding-top: 10px;
  color: #d50000;
  font-size: 0.9em;
  visibility: hidden;
}

.form-input-error+.form-error {
  visibility: visible;
}

.form-input-small {
  max-width: 250px;
}

.form-input-xsmall {
  max-width: 150px;
}

textarea.form-input {
  resize: none;
  min-height: 200px;
}

.navbar {
  background-color: #F19953;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  min-height: 6vh;
  box-shadow: 0 0 10px 0px #000;
}

.navbar a {
  text-decoration: none;
  color: #56351E;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 1.2em;
}

.navbar a:hover {
  transition: 200ms;
  color: #FFFFFF;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #56351E;
  border-radius: 15px;
  padding: 2em;
  margin: 2em;
  color: #EDF7F6;
  border: #F19953 5px solid;
  box-shadow: 2px 2px 10px 0px #000;
}

.loginPage h1 {
  -webkit-text-stroke: 0.5px #000;
  width: fit-content;
  margin: auto;
  margin-bottom: 2%;
  background-color: #F19953;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid #EDF7F6;
  box-shadow: 1px 1px 5px 0px #000;
}

.navbar .logo {
  margin: 0.5em 1em;
  display: flex;
}

.navbar .logo h1 {
  margin: 0.5em 1em;
}

.navbar .logo img {
  width: 65px;
  align-items: center;
  background-color: #EDF7F6;
  border-radius: 50%;
  padding: 0.1em;
  border: 2px solid #56351E;
  box-shadow: 0 0 10px 0px #00000075;
}

.navbar .logo img:hover {
  transition: 200ms;
  transform: scale(1.1);
}

.navbar .links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .links * {
  margin: 1em;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pets {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  margin: auto;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 6px #00000075;
}

.banner img {
  width: 80vw;
  border-radius: 8px;
}

.singlePet {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  flex-direction: column;
  margin: 1em;
  padding: 2%;
  background-color: #F19953;
  cursor: pointer;
  box-shadow: 2px 4px 6px #00000050;
  border: 1px solid #56351E;
}

.singlePet .petName {
  padding: 0.25em;
  font-size: 1.2em;
  font-weight: 600;
}

.singlePet:hover {
  transform: translateY(-5px);
  box-shadow: #26394d 0px 20px 30px -10px;
  transition: 200ms;
}

.singlePet img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  box-shadow: 2px 4px 6px #ffffff99;
}

.footer {
  background-color: #F19953;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  min-height: 6vh;
  box-shadow: 0 0 10px 0px #000;
}

.navbar a {
  text-decoration: none;
  color: #56351E;
  letter-spacing: 0.1em;
  font-weight: 900;
  font-size: 1.2em;
}

.navbar .links button {
  text-decoration: none;
  color: #EDF7F6;
  background: #56351E;
  letter-spacing: 0.1em;
  font-weight: 900;
  font-size: 1em;
  box-shadow: 1px 1px 1px 1px #00000075;
}

.navbar .links button:hover {
  transition: 200ms;
  color: #F19953;
  background: #EDF7F6;
}

.navbar .links button:active {
  transform: translateY(2px);
  box-shadow: inset #26394d 0px 20px 30px -10px;
  transition: 200ms;
}

input {
  box-shadow: 2px 2px 5px 3px #00000075;
}

button {
  box-shadow: 2px 2px 5px 1.5px #00000075;
}

.navbar a:hover {
  transition: 200ms;
  color: #EDF7F6;
}

.about p {
  font-size: 1.75em;
  line-height: 1.5em;
  text-align: justify;
  text-indent: 3em;
}

.about img {
  width: 200px;
}

.petImg img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
  border: 2px solid #56351E;
  box-shadow: 2px 2px 5px 1.5px #00000075;
}

.pet-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-card>* {
  margin: 2em;
}

.pet-photo img {
  width: 30vw;
  object-fit: cover;
  aspect-ratio: 1/1;
  border: 10px solid #F19953;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 1.5px #00000075;
}

#pet-header {
  font-size-adjust: 125%;
  width: fit-content;
  margin: auto;
  margin-top: 2%;
  padding: 0.5em;
  border: 2px solid #F19953;
  border-radius: 10px;
  background: #56351E;
  color: #F19953;
  -webkit-text-stroke: 0.5px #000;
  font-weight: 900;
  box-shadow: 1px 1px 2px #00000050;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDF7F6;
  color: #56351E;
}

button {
  background: none;
  color: inherit;
  border: 1px solid #56351E;
  padding: 0.25em 0.75em;
  border-radius: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: 200ms;
  margin: 0.5em;
}

button:hover {
  background-color: #FFFFFF;
  color: #EDF7F6;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 88vh;
  margin: 4em;
}